.nav-bar {
    background: rgb(207, 231, 250);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgb(207, 231, 250) 0%, rgb(99, 147, 193) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(207, 231, 250) 0%, rgb(99, 147, 193) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(207, 231, 250) 0%, rgb(99, 147, 193) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1', GradientType=0);
    /* IE6-9 */
}

.productImage {
    width: 50 px;
    height: 50 px;
    margin-right: 20px;
    border: solid;
    float: left;
    clear: both;
}

.productInfo {
    width: 100 px;
    height: 100 px;
    margin-left: 20px;
    float: left;
}

p {
    font-size: larger;
}

.color-box {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.lineOver {
    color: antiquewhite;
}